/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

/* Changing the background colour for the header */

header {
	background-color: #2E4C17;
}

/* Custom fonts for Woof */

.woof-font-title {
  font-family: "STIX Two Text", Arial, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.woof-font-title-shadow {
  font-family: "STIX Two Text", Arial, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px #000000;	 
  colour: #FD6F2F;
}

.woof-font-body-shadow {
  font-family: "Poppins", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 3px #000000;	 
  colour: #FFFAF2;
}

.woof-font-body {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.woof-font-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

/* Custom classes for Woof */
.woof-off-white {
	color: #FFFAF2;
}

.woof-light-green {
	colour: #DCE4B8;
}

.woof-dark-green {
	color: #2E4C17;
}

.woof-orange {
	colour: #FD6F2F;
}

.woof-brown {
	color: #573616;
}

.woof-border-orange {
	border-color: #FD6F2F !important;
}

.woof-border-light-green {
	border-color: #DCE4B8 !important;
}

.woof-border-brown {
	border-color: #573616 !important;
}

.woof-border-dark-green {
	border-color: #2E4C17 !important;
}

.woof-bg-light-green {
	background-color: #DCE4B8;
}

.woof-bg-off-white {
	background-color: #FFFAF2; 
}

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #DCE4B8;
}

/* Changing the background color for the navigation bar */

.navbar {
background-color:#FFFAF2;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.woof-btn-orange {
	background-color: #FD6F2F;
	color: #FFFAF2;
}

/* Add a background color and some padding around the form */
.contact-us-container {
  border-radius: 10px;
  background-color: #2E4C17;
  padding: 20px;
  margin: 30px;
  width: 95%;
  max-width: 70rem;
  color: #FFFAF2;
	
}

.dog-header {
	height: 75vh;
	min-height: 35rem;
	object-fit: cover;
	object-position: 50% 30%;
}

.header-bg-image {
	 background-image: url('../images/main-photo.jpg');
	 background-size: cover;
	 max-width: 100%;
	 background-position: 50% 25%;
}

.woof-review-carousel {
	width: 90%;
	max-width: 50rem;
}