/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');


/* Custom classes for Woof */
.woof-off-white {
	color: #FFFAF2;
}

.woof-light-green {
	colour: #DCE4B8;
}

.woof-dark-green {
	color: #2E4C17;
}

.woof-orange {
	colour: #FD6F2F;
}

.woof-brown {
	color: #573616;
}

.woof-border-orange {
	border-color: #FD6F2F !important;
}

.woof-border-light-green {
	border-color: #DCE4B8 !important;
}

.woof-border-brown {
	border-color: #573616;
}

.woof-bg-light-green {
	background-color: #DCE4B8;
}

.woof-bg-off-white {
	background-color: #FFFAF2;
}

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #DCE4B8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
background-color:#FFFAF2;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.woof-btn-orange {
	background-color: #FD6F2F;
	color: #FFFAF2;
}

/* Add a background color and some padding around the form */
.contact-us-container {
  border-radius: 10px;
  background-color: #2E4C17;
  padding: 20px;
  margin: 30px;
  width: 900px;
  heighy: 200px;
  color: #FFFAF2;
	
}